			tbody tr:nth-child(odd)
			{
				background-color: cyan;
				color:black;
			}
				ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			right:0px;
			overflow: hidden;
			width: 100%;
			text-align: center;
			background-color: #333;
		}

		li {
			display: inline-block;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		li a:hover:not(.active) {
			background-color: #111;
		}

		.active {
			background-color: #4CAF50;
		}
		body{
	font-family:verdana;
}
		.header{
text-align:center;
}